<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycy.mapper.UserMapper" >


    <select id="findUserList" resultType="com.ycy.model.User">
        select * from t_user limit #{page},#{rows}
    </select>

    <select id="findUserCount" resultType="java.lang.Long">
        select count(1) from t_user
    </select>



</mapper>